@btn-prefix: ~"@{prefix}btn";

.btn-size(@padding; @font-size; @border-radius) {
  padding:  @padding;
  font-size: @font-size;
  border-radius: @border-radius;
}

.btn-color(@color; @percent: 10%;) {
  color: #FFF;
  background-color: @color;
  border: @color;
  &:hover{
    color: lighten(@color, @percent);
    border-color: lighten(@color, 10%);
  }
  &:active{
    color: darken(@color, 10%);
    border-color: darken(@color, 10%);
  }
}

.btn-text-color(@color; @default: true) {
  color: @color;
  border-color: @color;
  &:hover{
    color: lighten(@color, 10%);
    border-color: lighten(@color, 10%);
  }
  &:active{
    color: darken(@color, 10%);
    border-color: darken(@color, 10%);
  }
}

// button, .y-btn{
.@{btn-prefix} {
  display: inline-block;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  padding: 5px 15px 6px;
  font-size: 14px;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #dcdee2;
  &:hover{
  }
  &+.@{btn-prefix}{
    margin-left: 5px;
  }
  &-primary{
    .btn-color(@primary-color);
  }
  &-red{
    .btn-color(@red-6);
  }
  &-gray{
    .btn-color(@gray-6);
  }
  &-green{
    .btn-color(@green-6);
  }
  &-blue{
    .btn-color(@blue-6);
  }
  &-text{
    color: #515a6e;
    background-color: transparent;
    border-color: transparent;
    &-primary{
      .btn-text-color(@primary-color);
    }
    &-red{
      .btn-text-color(@red-6);
    }
    &-gray{
      .btn-text-color(@gray-6);
    }
    &-green{
      .btn-text-color(@green-6);
    }
    &-blue{
      .btn-text-color(@blue-6);
    }
  }
}
