.app-header {
  position: fixed;
  height: 30px;
  top: 0;
  width: 100%;
  background-color: #fff;
  .header-menu-list {
    margin-left: 50px;
    .selecetd-menu {
      .link {
        color: darkcyan !important;
      }
    }
  }
  .header-login-tab {
    margin-right: 50px;
    button {
      margin: 0 10px;
    }
  }
}

.router-view {
  padding-top: 30px;
}

.us-one-page {
  display: inline-block;
  width: 50%;
  .page-content {
    padding: 20px;
  }
}
