{
  "presets": ["@babel/preset-react"],
  "plugins": ["add-module-exports"],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-react", 
          { "development": true }]
      ]
    }
  }
}
