.blog-edit-page {
  height: 100%;
  padding-top: 80px;
  position: relative;
  .blog-title {
    padding: 20px 50px;
    input {
      line-height: 32px;
      font-size: 26px;
      min-width: 500px;
      height: 34px;
    }
  }
  .blog-tag-config {
    padding-left: 50px;
    height: 50px;
    .y-tag {
      display: inline-block;
      margin: 5px 10px;
      padding: 2px 10px;
      border: 1px solid #999;
      border-radius: 10px;
      cursor: pointer;
    }
    .y-tag-selected {
      background-color: blanchedalmond;
      border: 1px solid #fff;
    }
  }
  .blog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    position: absolute;
    top: 210px;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    .content {
      flex: 1;
      order: 1;
      height: 100%;
      margin: 0 20px;
      textarea {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .preview {
      flex: 1;
      order: 1;
      height: 100%;
      overflow-y: auto;
    }
  }
}
