.blog-edit-page {
  height: 100%;
  padding-top: 80px;
  position: relative;
  .blog-title {
    padding: 20px 50px;
    input {
      line-height: 32px;
      font-size: 26px;
      width: 100%;
    }
  }
  .blog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    position: absolute;
    top: 155px;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    .content {
      flex: 1;
      order: 1;
      height: 100%;
      margin: 0 20px;
      padding-top: 40px;
      .content-config {
        margin-top: -40px;
        height: 30px;
      }
      textarea {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .preview {
      flex: 1;
      order: 1;
      height: 100%;
    }
  }
}
