.blog-main-page {
  height: 100%;
  padding-top: 80px;
  background-color: ghostwhite;
  .top-tab {
    a {
      z-index: 1;
      position: absolute;
      top: 80px;
      right: 0px;
      margin-right: 20px;
      margin-top: 20px;
      padding: 10px 30px;
      border: 1px solid;
      border-radius: 26px;
    }
  }
  .blog-category {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 20%;
    bottom: 0;
    overflow-y: auto;
    padding-left: 40px;
    padding-top: 40px;
    font-family: fantasy, Arial, serif;
    .category-item {
      margin-bottom: 20px;
      color: cadetblue;
      &:hover {
        color: cornflowerblue;
      }
      span {
        cursor: pointer;
        letter-spacing: 1.5px;
      }
    }
    .selected-category-item {
      color: cornflowerblue;
    }
  }
  .blog-list {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 0;
    overflow-y: auto;
    width: 80%;
    padding-right: 40px;
    padding-top: 40px;
    overflow-y: auto;
    .blog-item-brief {
      margin-bottom: 40px;
      .top {
        .title {
          font-size: 20px;
          color: ##A1D9FF;
        }
        .edit {
          display: inline-block;
          margin-left: 30px;
          color: cadetblue;
          cursor: pointer;
          &:hover {
            color: cornflowerblue;
          }
        }
      }
      .info {
        margin-top: 10px;
        .author {
          display: inline-block;
          width: 150px;
          color: brown;
        }
        .date {
          color: cadetblue;
        }
      }
      .brief {
        width: 80%;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }
}

.blog-read-page {
  padding-top: 80px;
  height: 100%;
  background-color: ghostwhite;
  .blog {
    display: inline-block;
    position: relative;
    width: 70%;
    padding-left: 30px;
    height: 100%;
    .title-tab {
      margin-top: 40px;
      height: 40px;
      .title {
        font-size: 26px;
      }
      .edit {
        display: inline-block;
        margin-left: 30px;
        color: cadetblue;
        cursor: pointer;
        &:hover {
          color: cornflowerblue;
        }
      }
    }
    .author-tab {
      margin-top: 10px;
      height: 20px;
      .author {
        color: brown;
      }
      .date {
        display: inline-block;
        margin-left: 20px;
        color: cadetblue;
      }
    }
    .content {
      position: absolute;
      top: 120px;
      width: 100%;
      left: 0;
      padding-left: 30px;
      bottom: 10px;
      overflow-y: auto;
      .markdown-content {
        font-size: 13px;
        margin: 0;
        padding: 10px 20px;
        background-color: azure;
      }
    }
  }
  .hot-blog-list {
    float: right;
    width: 30%;
    padding-left: 20px;
    padding-top: 50px;
    overflow-y: auto;
    height: 100%;
    .list-title {
      font-family: sans-serif;
    }
    .list {
      margin-top: 20px;
      .hot-blog {
        margin-bottom: 20px;
        .blog-title {
          a {
            color: cadetblue;
            &:hover {
              color: burlywood;
            }
          }
        }
        .blog-brief {
          margin-top: 5px;
          width: 70%;
          font-size: 14px;
        }
      }
    }
  }
}
