@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('@{icomoon-font-path}/icomoon.eot?s6z09v');
  src:  url('@{icomoon-font-path}/icomoon.eot?s6z09v#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icomoon.ttf?s6z09v') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?s6z09v') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?s6z09v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus {
  &:before {
    content: @icon-plus; 
  }
}
.icon-trash-o {
  &:before {
    content: @icon-trash-o; 
  }
}
.icon-edit {
  &:before {
    content: @icon-edit; 
  }
}
.icon-pencil-square-o {
  &:before {
    content: @icon-pencil-square-o; 
  }
}
.icon-step-backward {
  &:before {
    content: @icon-step-backward; 
  }
}
.icon-play {
  &:before {
    content: @icon-play; 
  }
}
.icon-pause {
  &:before {
    content: @icon-pause; 
  }
}
.icon-step-forward {
  &:before {
    content: @icon-step-forward; 
  }
}
.icon-chain {
  &:before {
    content: @icon-chain; 
  }
}
.icon-link {
  &:before {
    content: @icon-link; 
  }
}
.icon-header {
  &:before {
    content: @icon-header; 
  }
}
.icon-images {
  &:before {
    content: @icon-images; 
  }
}
.icon-quotes-left {
  &:before {
    content: @icon-quotes-left; 
  }
}
.icon-list-numbered {
  &:before {
    content: @icon-list-numbered; 
  }
}
.icon-list2 {
  &:before {
    content: @icon-list2; 
  }
}
.icon-attachment {
  &:before {
    content: @icon-attachment; 
  }
}
.icon-cross {
  &:before {
    content: @icon-cross; 
  }
}
.icon-bold {
  &:before {
    content: @icon-bold; 
  }
}
.icon-italic {
  &:before {
    content: @icon-italic; 
  }
}
.icon-strikethrough {
  &:before {
    content: @icon-strikethrough; 
  }
}
.icon-page-break {
  &:before {
    content: @icon-page-break; 
  }
}
.icon-table2 {
  &:before {
    content: @icon-table2; 
  }
}
.icon-embed2 {
  &:before {
    content: @icon-embed2; 
  }
}

