@icomoon-font-path: "fonts";

@icon-images: "\e90e";
@icon-quotes-left: "\e977";
@icon-list-numbered: "\e9b9";
@icon-list2: "\e9bb";
@icon-attachment: "\e9cd";
@icon-bold: "\ea62";
@icon-underline: "\ea63";
@icon-italic: "\ea64";
@icon-strikethrough: "\ea65";
@icon-table2: "\ea71";
@icon-embed2: "\ea80";

