.us-main-page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  .header{
    height: 500px;
    text-align: center;
    background: antiquewhite url(/app/images/home-bg.jpeg) no-repeat;
  }
  .user-tab{
    .photo-tab{
      height: 80px;
      text-align: center;
      background-color: beige;
    }
    .blog-tab{
      height: 80px;
      text-align: center;
      background-color: lightcyan;
    }
    .bottom{
      height: 80px;
      text-align: center;
      background-color: lavender;
    }
  }
}

.young-page {
  height: 100%;
  padding-top: 80px;
  position: relative;
  .container {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
}
